/* === footer === */
.footer {
	padding-top: var(--grid-gap);
	padding-bottom: var(--grid-gap);
	background-color: #f1f2f8;
	text-align: center;
	box-shadow: 4px -10px 22px rgba(#5d71dd, 0.2);
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		display: inline-block;
		margin-bottom: 10px;
	}
	&__nav {
		width: 100%;
		margin-bottom: 25px;
		& .nav__list {
			width: 100%;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
		& .nav__item:not(:last-child) {
			margin-right: 0px;
			padding: 10px 10px;
		}
	}
	&__copy {
		font-size: var(--small-font-size);
		color: var(--dark-color);
	}
}
