@media (min-width: 767px) {
	.menu__body {
		position: relative;
		top: 0;
		left: 0;
		width: max-content;
		height: min-content;
		padding: 0;
		background-color: transparent;
		overflow: visible;
	}
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		margin-left: 20px;
		padding: 0 15px;
	}
	.menu__link {
		font-size: var(--big-font-size);
		font-weight: 500;
		&:hover {
			text-decoration: underline;
		}
	}
	.menu__sub-list {
		position: absolute;
		top: 100%;
		left: 0;
		height: auto;
		background-color: var(--accent-color);
		color: #fff;
		text-align: left;
		padding: calc(var(--grid-gap) / 2);
		min-width: max-content;
		border-bottom-left-radius: calc(var(--grid-gap) / 2);
		border-bottom-right-radius: calc(var(--grid-gap) / 2);
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
	.menu__sub-link {
		font-size: var(--big-font-size);
		&:hover {
			text-decoration: underline;
		}
	}
}
