<section class="contact _scr-item" id="contact">
	<div class="container contact-container">
		<h2 class="section-title-h2">Напишите мне</h2>
		<div class="contact-wrapper">
			<form action="" class="daform">
				<div class="daform__flex">
					<div class="daform__div">
						<input autocomplete="off" type="text" class="daform__input" name="Имя" required placeholder=" ">
						<label for="" class="daform__label">Ваше Имя</label>
					</div>
					<div class="daform__div">
						<input autocomplete="off" type="text" class="daform__input" name="Email" required placeholder=" ">
						<label for="" class="daform__label">Ваш Email</label>
					</div>
				</div>
				<div class="daform__div dtext">
					<textarea id="" class="daform__textarea" required name="Сообщение" placeholder=" "></textarea>
					<label for="" class="daform__label">Тема сообщения</label>
				</div>
				<div class="contform_respond"></div>
				<div class="daform__div">
					<div class="form__label-tz">Прикрепить ТЗ </div>
					<div class="file">
						<div class="file__item">
							<input id="formDoc" accept=".doc, .docx" type="file" name="attached_file" class="file__input">
							<div class="file__button">Выбрать...</div>
							<span id="formIn"></span>
						</div>
					</div>
				</div>
				<div class="daform__div">
					<div class="checkbox">
						<input type="checkbox" name="agreement" id="formAgreement" required class="checkbox__input">
						<label for="formAgreement" class="checkbox__label">
							<span>Я даю свое согласие на обработку персональных данных в соответствии с <a
									href="">Условиями</a>*</span>
						</label>
					</div>
				</div>
				<button type="submit" class="form-btn daform__btn" value="">
					<span>Отправить</span>
				</button>
			</form>
			<div class="contact-img" style="background-image: url('./img/contacts.png');"></div>
		</div>
	</div>
</section>