<footer class="footer">
	<div class="container footer__container">
		<a href="/#home" class="logo footer__logo">
			<img src="img/logo.svg" alt="Логотип Блога">
		</a>
		<nav class="nav footer__nav">
			<ul class="nav__list list-reset">
				<li><a href="#" class="nav__link">Главная</a></li>
				<li><a href="#" class="nav__link">Мои работы</a></li>
				<li><a href="#" class="nav__link">Контакты</a></li>
				<li><a href="#" class="nav__link">Мои навыки</a></li>
			</ul>
		</nav>
	</div>
	<small class="footer__copy">ООО “Организация” 2021. Все права защищены</small>
</footer>