<header class="daheader">
	<div class="container daheader__container">
		<a href="/#home" class="logo daheader__logo">
			<img src="img/logo.svg" alt="Логотип Блога">
		</a>

		<nav class="menu__body" id="nav-menu">
			<ul class="menu__list">
				<li><a data-goto=".banner" href="#home" class="menu__link">Главная</a></li>
				<li><a data-goto=".portfolio" href="#portfolio" class="menu__link">Мои работы</a></li>
				<li>
					<a data-goto=".contact" href="#contact" class="menu__link">Блог</a>
					<span class="menu__arrow"></span>
					<ul class="menu__sub-list">
						<li>
							<a href="#" class="menu__sub-link">Статья 1</a>
						</li>
						<li>
							<a href="#" class="menu__sub-link">Статья 2</a>
						</li>
						<li>
							<a href="#" class="menu__sub-link">Статья двестипятидесятая</a>
						</li>
					</ul>
				</li>
				<li><a data-goto=".skills" href="#skills" class="menu__link">Мои навыки</a></li>
			</ul>
		</nav>
		<!-- <a href="mailto:+alexdolg1967@mail.ru" class="daheader__mail">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#5d71dd" stroke-width="2"
					stroke-linecap="round" stroke-linejoin="round">
					<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
					<polyline points="22,6 12,13 2,6" />
				</svg>
				<span>Написать</span>
			</a> -->

		<div class="daheader__menu-icon" id="nav-toggle">
			<span></span>
		</div>
	</div>
</header>